<div class="kranford-header">
    <div class="header-about">
        <h1 translate>ABOUT.title</h1>
    </div>
</div>

<p class="section-subheader" translate>ABOUT.subtitle</p>
<div class="row aboutView">
    <div class="col-md-4">
        <div class="text-center">
            <div class="thumbnail">
                <img ng-src="./assets/icon/a1.png"/>
            </div>
            <div class="list-group">
                <div class="list-group-item active" translate>ABOUT.head1</div>
            </div>
        </div>
        <p translate>ABOUT.message1</p>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <div class="thumbnail">
                <img ng-src="./assets/icon/a2.png"/>
            </div>
            <div class="list-group">
                <div class="list-group-item active" translate>ABOUT.head2</div>
            </div>
        </div>
        <p translate>ABOUT.message2</p>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <div class="thumbnail">
                <img ng-src="./assets/icon/a3.png"/>
            </div>
            <div class="list-group">
                <div class="list-group-item active" translate>ABOUT.head3</div>
            </div>
        </div>
        <p translate>ABOUT.message3</p>
    </div>
</div>
