<div class="kranford-header">
    <div class="header-contact">
        <h1 translate>COMMON.contact</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="kranford-adress thumbnail">
            <address>
                <strong>Kranford</strong> <br/>Ul. Wilcza 72 m. 10<br/> 00-029 Warsaw<br/>
                <abbr title="Email">email:</abbr> office@kranford.pl<br/> <abbr title="Telefon">Tel:</abbr> +48 22 207 25 41<br/><abbr title="Telefon">Tel:</abbr> +48 698 173 777
            </address>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <iframe width="330" height="270" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=Ul.+Wilcza+72+m.+10+00-029+Warsaw&amp;aq=&amp;sll=52.232938,21.061194&amp;sspn=0.889016,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=Wilcza+72,+%C5%9Ar%C3%B3dmie%C5%9Bcie+Warszawa,+mazowieckie&amp;t=m&amp;z=14&amp;ll=52.22322,21.007542&amp;output=embed"></iframe>
            <br/>
            <small>
                <a href="https://maps.google.pl/maps?f=q&amp;source=embed&amp;hl=pl&amp;geocode=&amp;q=Ul.+Wilcza+72+m.+10+00-029+Warsaw&amp;aq=&amp;sll=52.232938,21.061194&amp;sspn=0.889016,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=Wilcza+72,+%C5%9Ar%C3%B3dmie%C5%9Bcie+Warszawa,+mazowieckie&amp;t=m&amp;z=14&amp;ll=52.22322,21.007542" style="color:#0000FF;text-align:left">Wyświetl większą mapę</a>
            </small>
        </div>
    </div>
    <div class="col-md-4">
        <img class="thumbnail" src="./assets/building1.jpg"/>
    </div>
</div>